/* write your override styles here */
#wall .tag-1{
    display:none;
 }
 
 #wall #tag-3{
   width:55%;
 }
 
 #tag-3{
 margin:32px 370px 80px 400px;
 
 }
 
 #wall #tag-2{
  width:100%;
  
 }
 #tag-2{
    margin: -23px 90px 69px -0px;
 }
 
 #wall #tag-4{
  height:450px;
  width:499px;
 }
 
 #tag-6 {
  margin-left : -10px;
  margin-top: 15px
 }
 
 #tag-7{
  margin-left: 340px
 }